@model TravelSite.Models.FlightInner

    <style type="text/css">
        .ac_results {
            padding: 0;
            border: 1px solid black;
            background-color: white;
            overflow: hidden;
            z-index: 9999;
            width: 470px !important;
            position: absolute;
        }

            .ac_results ul {
                width: 100%;
                list-style-position: outside;
                list-style: none;
                padding: 0;
                margin: 0;
                box-shadow: 0 0 1px 1px #CCC;
                background-color: #fff;
            }

            .ac_results li {
                margin: 0;
                cursor: default;
                display: block;
                font: menu;
                font-size: 14px; /*  	it is very important, if line-height not setted or setted  	in relative units scroll will be broken in firefox 	*/
                overflow: hidden;
            }

        .ac_loading {
            /*background: white url(//Faressaver.com/images/ajax-loader.gif) right center no-repeat;*/
        }

        .ac_odd {
            float: left;
            width: 100%;
            /*background: #f00 url("//Faressaver.com/images/loc1.png") no-repeat scroll 96% 40%;*/
            color: #063553;
            padding: 6px 10px 6px 10px;
            margin-top: 5px;
        }

        .ac_even {
            float: left;
            width: 100%;
            padding: 6px 10px 6px 10px;
            color: #0A6473;
            /*background: #f00 url("//Faressaver.com/images/plane1.png") no-repeat scroll 5% 40%;*/
        }

        .ac_over {
            background-color: #e1e7ee;
        }
    </style>
@using (Html.BeginForm("_ModifySearch", "Result"))
{
    <h3 href="#modify" class="accordion-toggle mt-0 mb-0 mod-sea-head" data-toggle="collapse">Modify Your Search <i class="fa fa-angle-down pull-right mt-5"></i></h3>
    <div id="modify" class="collapse">
        <div class="modi-select">
            <ul>
                <li class="RoundTrip active ">
                    <label for="radio1">
                        <input name="return" type="radio" value="Return" id="return" class="form-check-input" checked="checked"  />
                        Round Trip
                    </label>
                </li>
                <li class="OneWay">
                    <label for="radio1">
                        <input name="return" type="radio" value="OneWay" class="form-check-input" id="oneway" />
                        One Way
                    </label>
                </li>
            </ul>
        </div>
        <div class="modi-input">
            <input name="flying_from" autocomplete="off" class="input-type ui-autocomplete-input" type="text" id="flying_from" onchange="checkdata();" onclick="this.select();" />
        </div>
        <div class="modi-input">
            <input name="flying_to" autocomplete="off" type="text" class="input-type ui-autocomplete-input" onchange="checkdata1();" onclick="this.select();" id="flying_to" />
        </div>

        <div class="modi-calender">
            <div class="calen-sec" style="">
                <input name="from" readonly="readonly" type="text" class="input-type" placeholder="" id="from" />
            </div>
            <div class="calen-sec-return" style="">
                <input name="to" readonly="readonly" type="text" class="input-type" placeholder="" id="to" />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="modi-input">

            <input type="text" class="input-type dow others" style="cursor:pointer" readonly autocomplete="off" id="txtclasstype" onclick="this.focus(); this.setSelectionRange(0, 9999);" tabindex="5" placeholder="Adult 1, Economy">
        </div>
        <div class="other-option">
            <div class="form-group btm-line">
                <label>Adult</label>
                <input class="qty qtyminus" value="-" id="mins_adt" type="button" field='quantity'>
                <input Value="1" class="count" data-val="true" data-val-number="The field Adult must be a number." data-val-required="The Adult field is required." field="quantity" id="Adult" name="Adult" readonly type="text" value="" />
                <input class="qty qtyplus" value="+" id="plus_adt" type="button" field='quantity'>
            </div>
            <div class="form-group btm-line">
                <label>Child <span>(2-12 Yrs)</span></label>
                <input class="qty qtyminus" value="-" id="mins_chd" type="button" field='quantity'>
                <input Value="0" class="count" data-val="true" data-val-number="The field Children must be a number." data-val-required="The Children field is required." field="quantity" id="Children" name="Children" readonly type="text" value="" />
                <input class="qty qtyplus" value="+" id="plus_chd" type="button" field='quantity'>
            </div>
            <div class="form-group btm-line">
                <label>Infant <span>(Below 2Yrs)</span></label>
                <input class="qty qtyminus" value="-" id="mins_inf" type="button" field='quantity'>
                <input Value="0" class="count" data-val="true" data-val-number="The field Infant must be a number." data-val-required="The Infant field is required." field="quantity" id="Infant" name="Infant" readonly type="text" value="" />
                <input class="qty qtyplus" value="+" id="plus_inf" type="button" field='quantity'>
            </div>

            <div class="form-group done">
                <input class="btn" id="btn_pax" value="Select">
            </div>
        </div>

        <div class="modi-input">

            <select id="CabinClass" name="CabinClass" class="input-type class diff" data-val-required="Please Select Class">
                <option value="Y">Economy</option>
                <option value="W">Premium Eco</option>
                <option value="C">Business</option>
                <option value="F">First Class</option>
            </select>
        </div>
        <div class="modi-input">

            <select id="airline" name="airline" class="input-type pre-cur-last mid-dspc-rt">
                <option selected="selected" value="">Any</option>
                <option value="JP">Adria Airways</option>
                <option value="EI">Aerlingus</option>
                <option value="SU">Aeroflot</option>
                <option value="AR">Aerolineas Argen </option>
                <option value="AM">Aeromexico</option>
                <option value="5L">Aerosur </option>
                <option value="VV">Aerosvit</option>
                <option value="8U">Afriqiyah Airline</option>
                <option value="AH">Air Algerie</option>
                <option value="KC">Air Astana</option>
                <option value="BT">Air Baltic</option>
                <option value="AB">Air Berlin</option>
                <option value="2J">Air Burkina </option>
                <option value="AC">Air Canada</option>
                <option value="CA">Air China </option>
                <option value="A7">Air Comet </option>
                <option value="UX">Air Europa </option>
                <option value="AF">Air France </option>
                <option value="AI">Air India </option>
                <option value="JM">Air Jamaica</option>
                <option value="KM">Air Malta </option>
                <option value="MK">Air Mauritius </option>
                <option value="9U">Air Maldova</option>
                <option value="SW">Air Namibia </option>
                <option value="NZ">Air New Zealand </option>
                <option value="HM">Air Seychelles </option>
                <option value="VT">Air Tahiti </option>
                <option value="TN">Air Tahiti Nui </option>
                <option value="TS">Air Transat</option>
                <option value="UM">Air Zimbabwe</option>
                <option value="AS">Alaska Air</option>
                <option value="LV">Albanian Air</option>
                <option value="AZ">Alitalia </option>
                <option value="NH">All Nippon </option>
                <option value="AA">American Air</option>
                <option value="OZ">Asiana Airlines</option>
                <option value="GR">Aurigny</option>
                <option value="OS">Austrian Airline </option>
                <option value="AV">Avianca </option>
                <option value="J2">Azerbaijan</option>
                <option value="UP">Bahamasair</option>
                <option value="PG">Bangkok Airways </option>
                <option value="BG">Biman Bangla</option>
                <option value="BD">Bmi British </option>
                <option value="BA">British Airways</option>
                <option value="SN">Brussels Airline </option>
                <option value="FB">Bulgaria Air</option>
                <option value="BW">Caribbean Air</option>
                <option value="CX">Cathay Pacific </option>
                <option value="CI">China Airlines </option>
                <option value="MU">China Eastern </option>
                <option value="CZ">China Southern </option>
                <option value="QI">Cimber Sterli</option>
                <option value="CF">City Airline</option>
                <option value="DE">Condor </option>
                <option value="CO">Continental </option>
                <option value="OU">Croatia Air </option>
                <option value="CU">Cubana Airlines </option>
                <option value="CY">Cyprus Airways </option>
                <option value="OK">Czech Airlines </option>
                <option value="D3">Daallo</option>
                <option value="DL">Delta </option>
                <option value="T3">Eastern airways</option>
                <option value="MS">Egyptair </option>
                <option value="EK">Emirates Air </option>
                <option value="OV">Estonian Air</option>
                <option value="ET">Ethiopian Air </option>
                <option value="EY">Etihad Airways </option>
                <option value="BR">EVA Airways </option>
                <option value="AY">Finnair </option>
                <option value="BE">Flybe </option>
                <option value="GA">Garuda </option>
                <option value="GF">Gulf Air </option>
                <option value="HR">Hahn Air </option>
                <option value="HU">Hainan Airlin</option>
                <option value="YO">Heli-Air Monaco</option>
                <option value="EO">Hewa Bora Air </option>
                <option value="IB">Iberia </option>
                <option value="FI">Iceland Air </option>
                <option value="IC">Indian Air </option>
                <option value="IR">Iran Air </option>
                <option value="6H">Israir</option>
                <option value="JL">Japan Airline</option>
                <option value="JU">Jat Airways</option>
                <option value="9W">Jet Airways </option>
                <option value="KQ">Kenya Airways </option>
                <option value="KL">KLM </option>
                <option value="KE">Korean Air </option>
                <option value="KU">Kuwait Airways </option>
                <option value="LA">Lan Airlines </option>
                <option value="LO">Lot-Polish </option>
                <option value="LH">Lufthansa </option>
                <option value="CC">Macair</option>
                <option value="W5">Mahan Air </option>
                <option value="MA">Malev </option>
                <option value="MH">Malaysia </option>
                <option value="MP">Martinair </option>
                <option value="IG">Meridiana </option>
                <option value="MX">Mexicana </option>
                <option value="ME">Middle East</option>
                <option value="YM">Montenegro</option>
                <option value="CE">Nationwide Air </option>
                <option value="NW">Northwest </option>
                <option value="OA">Olympic </option>
                <option value="WY">Oman Aviation </option>
                <option value="PR">Philippine </option>
                <option value="QR">Qatar Airways </option>
                <option value="AT">Royal Air Maroc </option>
                <option value="BI">Royal Brunei </option>
                <option value="RJ">Royal Jordanian </option>
                <option value="FV">Rossiya </option>
                <option value="SK">Sas </option>
                <option value="S4">Sata Intl </option>
                <option value="SV">Saudi Arabian </option>
                <option value="S7">Siberia Air</option>
                <option value="SQ">Singapore Airlines</option>
                <option value="SA">South African </option>
                <option value="UL">SriLankan </option>
                <option value="SD">Sudan </option>
                <option value="LX">Swiss </option>
                <option value="RB">Syrian Arab</option>
                <option value="DT">Taag-Angola </option>
                <option value="VR">Tacv Carbo Verdes </option>
                <option value="JJ">Tam Linhas Aerea </option>
                <option value="TP">Tap Portugal Airline</option>
                <option value="TG">Thai Intl </option>
                <option value="UN">Transaero</option>
                <option value="TU">Tunis Air</option>
                <option value="TK">Turkish Airlines </option>
                <option value="QF">Qantas Flights </option>
                <option value="PS">Ukraine Intl </option>
                <option value="UA">United</option>
                <option value="US">US Airways </option>
                <option value="HY">Uzbekistan </option>
                <option value="VN">Vietnam Air </option>
                <option value="VS">Virgin Atlantic </option>
                <option value="VK">Virgin Nigeria </option>
                <option value="WM">Windward Island</option>
                <option value="IY">Yemenia Yemen </option>
            </select>

        </div>
        <div class="modi-serach-btn"> <input type="submit" class="btn" id="btnsearch" onclick="return CheckValidation();" value="Search Now" />  </div>
    </div>


    <input type="hidden" id="hfTripType" name="hfTripType" value=@Html.Raw(Model.triptype)>
    <input type="hidden" id="hfFromDestination" name="hfFromDestination" value="">
    <input type="hidden" id="hfToDestination" name="hfToDestination" value="">
    <input type="hidden" id="hfFromDate" name="hfFromDate" value=@Html.Raw(Model.depdate)>
    <input type="hidden" id="hfToDate" name="hfToDate" value=@Html.Raw(Model.retdate)>
    <input type="hidden" id="hfAdult" name="hfAdult" value=@Html.Raw(Model.adult)>
    <input type="hidden" id="hfChild" name="hfChild" value=@Html.Raw(Model.child)>
    <input type="hidden" id="hfInfant" name="hfInfant" value=@Html.Raw(Model.infant)>
    <input type="hidden" id="hfCabinClass" name="hfCabinClass" value=@Html.Raw(Model.cabinclass)>
    <input type="hidden" id="hfdirect" name="hfdirect" value=@Html.Raw(Model.nonstop)>
    <input type="hidden" id="hfflex" name="hfflex" value=@Html.Raw(Model.flexi)>
    <input type="hidden" id="hfairline" name="hfairline" value=@Html.Raw(Model.airline)>
    <input type="hidden" id="hfcontact" name="hfcontact" />

}


@*<script src="~/js/autocomplete.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () { $("#flying_from").autocomplete("/handler.ashx", { delay: 10, minChars: 3, matchSubset: 1, matchContains: 1, cacheLength: 10, selectFirst: true, width: 346, autoFill: false, scroll: true }); });
        $(document).ready(function () { $("#flying_to").autocomplete("/handler.ashx", { delay: 10, minChars: 3, matchSubset: 1, matchContains: 1, cacheLength: 10, selectFirst: true, width: 346, autoFill: false, scroll: true }); });
    });
</script>
<script>
    $(".others").click(function () {
        $(".other-option").slideToggle();
        $(".done").click(function () {
            $(".other-option").hide();
        });
    });

    $("#btn_pax").click(function (e) {
        if (parseInt($('#Adult').val()) + parseInt($('#Children').val()) + parseInt($('#Infant').val()) > 9) {
            jAlert('Pax Count Could\'t be Greater Then 9', 'Validation Message');
            return false;
        }
        if (parseInt($('#Infant').val()) > parseInt($('#Adult').val())) {
            jAlert('Infant Count Could\'t be Greater Then Adult', 'Validation Message');
            return false;
        }
    });

    $('.qtyplus').click(function (e) {
        e.preventDefault();
        var $this = $(this);
        var $target = $this.prev('input[field=' + $this.attr('field') + ']');
        var currentVal = parseInt($target.val());
        if (!isNaN(currentVal)) {
            if (parseInt($('#Adult').val()) + parseInt($('#Children').val()) + parseInt($('#Infant').val()) >= 9) {
                jAlert('Pax Count Could\'t be Greater Then 9', 'Validation Message');
                return false;
            } else {
                $target.val(currentVal + 1);
                UpdateTextBox();
            }
        } else {
            $target.val(0);
        }
    });
    $(".qtyminus").click(function (e) {
        e.preventDefault();
        var $this = $(this);
        var $target = $this.next('input[field=' + $this.attr('field') + ']');
        var currentVal = parseInt($target.val());
        if ($target[0].id == "Adult" && currentVal == 1) {
            e.preventDefault();
            return false;
        }
        if (!isNaN(currentVal)) {
            $target.val((currentVal == 0) ? 0 : currentVal - 1);
            UpdateTextBox();
        } else {
            $target.val(0);
        }
    });

    function UpdateTextBox() {
        $("#Adult,#Children,#Infant").click()
        {
            //e.preventDefault();

            if (parseInt($('#Infant').val()) > parseInt($('#Adult').val())) {
                jAlert('Infant Count Could\'t be Greater Then Adult', 'Validation Message');
                $('#Infant').val(parseInt($('#Infant').val()) - 1);
                return false;
            }

            if (parseInt($('#Adult').val()) + parseInt($('#Children').val()) + parseInt($('#Infant').val()) > 9) {
                jAlert('Pax Count Could\'t be Greater Then 9', 'Validation Message');
                return false;
            }

            var adultcount = $('#Adult').val();
            var childcount = $('#Children').val();
            var Infantcount = $('#Infant').val();
            var TextBoxvalue = "";
            if (parseInt(adultcount) > 0 && parseInt(childcount) == 0 && parseInt(Infantcount) == 0) {
                TextBoxvalue = parseInt(adultcount) + " Adults, " + $('#ddl_class :selected').text();
            }
            else if (parseInt(adultcount) > 0 && parseInt(childcount) > 0 && parseInt(Infantcount) == 0) {
                TextBoxvalue = parseInt(adultcount) + " Adults, " + parseInt(childcount) + " Children, " + $('#ddl_class :selected').text();
            }
            else if (parseInt(adultcount) > 0 && parseInt(childcount) == 0 && parseInt(Infantcount) > 0) {
                TextBoxvalue = parseInt(adultcount) + " Adults, " + parseInt(Infantcount) + " Infants," + $('#ddl_class :selected').text();
            }
            else if (parseInt(adultcount) > 0 && parseInt(childcount) > 0 && parseInt(Infantcount) > 0) {
                TextBoxvalue = parseInt(adultcount) + " Adults, " + parseInt(childcount) + " Children, " + parseInt(Infantcount) + " Infants, " + $('#ddl_class :selected').text();
            }
            if (parseInt(adultcount) == 1) {
                TextBoxvalue = TextBoxvalue.replace("Adults", "Adult");
            }
            if (parseInt(childcount) == 1) {
                TextBoxvalue = TextBoxvalue.replace("Children", "Child");
            }
            if (parseInt(Infantcount) == 1) {
                TextBoxvalue = TextBoxvalue.replace("Infants", "Infant");
            }
            $("#txtclasstype").val(TextBoxvalue);
        }
    }


</script>
<script type="text/javascript">

    $(document).ready(function () {
       
        $("#oneway").click(function () {
           
            $("#oneway").prop("checked", "checked"),
                $("#return").prop("checked", ""),
                $("#to").prop("disabled", true);
                //$(".return").hide()
        }),
            $("#return").click(function () {
                
                $("#return").prop("checked", "checked"),
                    $("#oneway").prop("checked", ""),
                    //$(".return").show();
                 $("#to").prop("disabled", false);

    })

        // var ss = $("#contactsecond").val();

        //$("#hfcontact").val(ss);
        var from = $("#hfFromDestination").val();
        var to = $("#hfToDestination").val();

        $("#hfFromDestination").val("@Html.Raw(Model.from1)")
        var from = $("#hfFromDestination").val();

        $("#hfToDestination").val("@Html.Raw(Model.to1)")
        var to = $("#hfToDestination").val();
        $("#flying_from").val(from);
        $("#flying_to").val(to);

        $("#from").val($("#hfFromDate").val());



        var to1 = $("#hfToDate").val();
        if (to1 == "") {
            $("#hfFromDate").val("");
        }
        if ($("#hfTripType").val() == "true") {

            var to1 = $("#hfToDate").val();
                $("#to").val($("#hfToDate").val());
        }
        else {

        }

        if ($("#hfAdult").val() == "") {
        }
        else {

            $("#adult").val(parseInt($("#hfAdult").val()) + parseInt($("#hfChild").val()) + parseInt($("#hfInfant").val()));
            $("#Adult").val(parseInt($("#hfAdult").val()));
            $("#Children").val(parseInt($("#hfChild").val()));
            $("#Infant").val(parseInt($("#hfInfant").val()));
        }
        if ($("#hfTripType").val() == "false") {

            //document.getElementById('modifySearchreturndate').style.display = "none";
            $('#oneway').attr("checked", "checked");
        }
        else {
            $("#to").show();
            //$("#modifySearchreturndate").show();
            $('#retrun').attr("checked", "checked");
        }

    });


    function CheckValidation() {


        try {

            $("#hfFromDate").val($("#from").val());
            $("#hfToDate").val($("#to").val());

            var Adult = 0, Child = 0, Infant = 0, total = 0;
            Adult = new Number($("#Adult").val());
            Child = new Number($("#Children").val());
            Infant = new Number($("#Infant").val());
            total = (Adult + Child + Infant);
            if ($("#flying_from").val() == "" || $("#flying_from").val().length < 3) {
                alert("Please enter departure");
                $("#flying_from").focus();
                return false;
            }

            if ($("#flying_to").val() == "" || $("#flying_to").val().length < 3) {
                alert("Please enter destination");
                $("#flying_to").focus();
                return false;
            }

            if ($("#flying_from").val() == $("#flying_to").val()) {
                alert("Airports can not be same");
                $("#flying_to").focus();
                return false;
            }
            $("#hfTripType").val($("#return").is(':checked') ? "true" : "false")

            if ($("#hfFromDate").val() == "") {
                alert("Please select departure date");
                return false;
            }
            if ($("#hfTripType").val() == "true") {
                if ($("#to").val() == "") {
                    alert("Please select return date");
                    return false;
                }
            }

            if (Infant > Adult) {
                alert("No of infants should not greater than adults");
                return false;
            }
            if (Child > (Adult * 2)) {
                alert("Childs should not greater than twice of adults");
                return false;
            }
            if (total > 9) {
                alert("Total passengers should not greater than 9");
                return false;
            }
            if (total == 0) {
                alert("Please choose passenger");
                return false;
            }
            var validformat = /^\d{2}\/\d{2}\/\d{4}$/
            var date2 = new Date();
            date2.setDate(date2.getDate());
            var d2 = date2.getDate();
            var day2 = (d2 < 10) ? '0' + d2 : d2;
            var m2 = date2.getMonth() + 1;
            var month2 = (m2 < 10) ? '0' + m2 : m2;
            var yy2 = date2.getYear();
            var year2 = (yy2 < 1000) ? yy2 + 1900 : yy2;

            var CurrDate = new Date(year2, (month2 - 1), day2);
            var one_day = 1000 * 60 * 60 * 24;
            var x;
            var fromDat = $("#hfFromDate");
            if (fromDat.val().indexOf("/") != -1) { x = fromDat.val().split("/"); } else { x = fromDat.val().split("-"); }

            var Dptdate = new Date(x[2], (x[1] - 1), x[0]);
            var contactno = '@TempData.Peek("PhoneNumber")';
            //if ($("#chkIsFlexi").is(":checked")) {

            //    if (Math.ceil((Dptdate.getTime() - CurrDate.getTime()) / (one_day)) < 5) {
            //        alert("Date range not valid");
            //        return false;
            //    }
            //}
            //else
            {
                if (Math.ceil((Dptdate.getTime() - CurrDate.getTime()) / (one_day)) < 2) {
                    alert("Departure should be greater than one day " + contactno);

                    return false;
                }
            }
            if ($("#hfTripType").val() == "true") {
                var Todate = $("#hfToDate");
                if (Todate.val().indexOf("/") != -1) { x = Todate.val().split("/"); } else { x = Todate.val().split("-"); }
                var RetDate = new Date(x[2], (x[1] - 1), x[0]);
                if ($("#chkIsFlexi").is(":checked")) {
                    if (Math.ceil((RetDate.getTime() - Dptdate.getTime()) / (one_day)) < 7) {
                        alert("Date difference should be 7 days")

                        return false;
                    }
                }
                else {
                    if (RetDate < Dptdate) {
                        alert("Return date must be greater than departure");
                        return false;
                    }
                }
            }
            var flex = $("#chkIsFlexi").is(":checked");
            var direct = $("#chkIsDirect").is(":checked");
            $("#hfflex").val(flex);
            $("#hfdirect").val(direct);
            $("#hfFromDestination").val($("#flying_from").val());
            $("#hfToDestination").val($("#flying_to").val());

            $("#hfAdult").val(Adult);
            $("#hfChild").val(Child);
            $("#hfInfant").val(Infant);

            $("#dvWait").html(WaitSearch());
            $("dvWait").show();
            $(".searchpop1").show();
        }
        catch (err) {
            alert(err);
        }
        return true;
    }


    function WaitSearch() {

        //debugger;
        try {
        var path = '@TravelSite.Models.CompCredentials.LogoPath1';
        var contact = '@TempData.Peek("PhoneNumber")';

        var sData = "<div class='mob_gif_center'><p><strong> Please wait</strong>. <br> We are searching best fares for you. </p> <div class='plane_gif'></div> </div>" +

        "<div class='wait-popup'>" +
        "<div  class='wait-logo'>" +
         "<img src='../images/logo.png' /> </div>" +
        " <div id='progressbar' style='width: 577px;'>" +
        "<div id='progressLine'>" +
        "<div id='pbaranim'></div>" +
        "  </div>" +
        "</div>" +
        " <div class='wait-txe'>" +
        " <h3> Search in progress </h3><p class='text-center'> Searching for the best deal for you. Kindly wait, this may take a little time</p> " +
        " </div>" +

        " <div class='clearfix'></div>" +
        "<div class='wait-main'>" +
                "<div class='wait-1'>";

        if ($("#hfFromDestination").val().indexOf("(") != -1) {
            sData += "   <span class='wait-txt-small'>" + $("#hfFromDestination").val().split('-')[0].split('(')[0] + "</span><br />" +
             "  <span class='wait-txt-big'>" + $("#hfFromDestination").val().split('(')[1].substring(0, 3) + "</span>";
        }
        else {
            sData += "" + $("#hfFromDestination").val() + "";
        }
        sData += " </div>" +
           "  <div class='wait-1'>";
        if ($("#hfTripType").val() == "false") {
            sData += "<div class='arrowmiddle-1 search_wtg_divider' ><img src='../images/wait-arrow.png' /> </span>";
        }
        else {
            sData += " <div class='arrowmiddle search_wtg_divider' ><img src='../images/wait-arrow.png' /> </span>";
        }
        sData += " </div></div>" +
           " <div class='wait-1'>";
        if ($("#hfToDestination").val().indexOf("(") != -1) {
            sData += "  <span class='wait-txt-small'>" + $("#hfToDestination").val().split('-')[0].split('(')[0] + "</span><br />" +
              "    <span class='wait-txt-big'>" + $("#hfToDestination").val().split('(')[1].substring(0, 3) + "</span>";
        }
        else {
            sData += "" + $("#hfToDestination").val() + "";
        }
        sData += "  </div>" +
          "  </div>" +
          " <div class='clearfix'></div>" +
          "<div class='wait-depart'>" +
          " <div class='wait-2'>" +
          "<span class='wait-dest-txt'>Departure</span><br />" +
                  "<span class='wait-dest-txt-small'>" + $("#hfFromDate").val() + "</span>" +
                "   </div>";
        if ($("#hfTripType").val() == "true") {
            sData += "  <div class='wait-2'>" +
             "      <span class='wait-dest-txt'>Return</span><br />" +
             "       <span class='wait-dest-txt-small'> " + $("#hfToDate").val() + "</span>" +
             "   </div>";
        }

        sData += "   <div class='wait-2'>" +
         "     <span class='wait-dest-txt'>Class</span><br />" +
         "      <span class='wait-dest-txt-small'>" + $("#CabinClass option:selected").text() + "</span>" +
         "   </div>" +
         "    <div class='wait-2'>" +
         "      <span class='wait-dest-txt'>Travellers</span><br />" +
        "       <span class='wait-dest-txt-small'>";

        if (parseInt($("#hfAdult").val()) == 1) {
            sData += "" + $("#hfAdult").val() + " Adults";
        }
        else {
            sData += "" + $("#hfAdult").val() + " Adults";
        }

        if (parseInt($("#hfChild").val()) > 0) {
            if (parseInt($("#hfChild").val()) == 1) {
                sData += ", " + $("#hfChild").val() + " Child";
            }
            else {
                sData += ", " + $("#hfChild").val() + " Children";
            }
        }

        if (parseInt($("#hfInfant").val()) > 0) {
            if (parseInt($("#hfInfant").val()) == 1) {
                sData += ", " + $("#hfInfant").val() + " Infant";
            }
            else {
                sData += ", " + $("#hfInfant").val() + " Infant";
            }
        }


        sData += "</span>" +
         "   </div>" +
         " </div>" +
         " <div class='wait-talk-main'>" +
         " <div class='talk-txt-1'>" +
         "  <i class='fa fa-phone-square'></i>&nbsp;" + contact + "" +
         " </div>" +
         "  </div>" +
         ""
        "</div><span class='clearfix'></span> <div class='search_wtg_fotter'></div> ";


        //var sData =
        //    "<div class='tewq'><div class='popup1 twqq'>"+
        //    "<div class='row'>" +
        //    "<div class='col-md-5 col-xs-6'>" +
        //    "<div class='pop_logo'>" +
        //    "<img src='../images/logo.png' class='interm-img' style='width: 80%; margin-top: 15px;'>" +
        //    "</div>" +
        //    "</div>" +
        //    "<div class='col-md-7 col-xs-6'>" +
        //    "<div class='pop_tollfree'>" +
        //    "<a href='tel:"+contact+"'><i class='fa fa-phone'></i>"+ contact +" </a>" +
        //    "</div>" +
        //    "</div>" +
        //    "<div class='col-md-12'>" +
        //    "<div class='popup_wait'>" +
        //    "<h2>Please Wait... </h2>" +
        //    "<h6>While We are Searching Unpublished Exclusive Airfares For You From over 450+ Airlines </h6>" +
        //    "</div>" +
        //    "</div>" +
        //    "<div class='col-md-12'>" +
        //    "<div class='loading_bbar'>" +
        //    "<img src='../images/flightloading-new.gif' style='width: 100%;'>" +
        //    "</div>" +
        //    "</div>" +
        //    "<div class='col-sm-5 col-xs-5 adddi' style='text-align: center;'>" +
        //    "<span class='teto'>Departure</span>";
        // if ($("#hfFromDestination").val().indexOf("(") != -1) {
        //     sData += " <h3 class='tq23'>" + $("#hfFromDestination").val().split('-')[0].split('(')[0] + "</h3>" +
        //         "<p class='tq12'>" + $("#hfFromDate").val() + "</p>";
        //}
        //else {
        //    sData += " <h3 class='tq23'>" + $("#hfFromDestination").val() + "</h3>";
        //}
        //sData += "</div>" +
        //    "<div class='col-md-2 col-xs-2 adddi1' style='text-align: center;'>" +
        //    "<img src='../images/planes-DD.png' style='width: 50px; margin: 40px 0 0 0;' alt=''/>" +
        //    "</div>";

        //if ($("#hfTripType").val() == "true") {
        //    sData += "<div class='col-sm-5 col-xs-5 adddi' style='text-align: center;'>" +
        //        "<span class='teto'>Arrival</span>";

        //    if ($("#hfToDestination").val().indexOf("(") != -1) {
        //        sData += "<h3 class='tq23'>" + $("#hfToDestination").val().split('-')[0].split('(')[0] + "</h3>" +
        //            "<p class='font12'>" + $("#hfToDestination").val().split('-')[0].split('(')[0] + " </p>";
        //    }
        //    else {
        //        sData += "<h3 class='tq23'>" + $("#hfToDestination").val() + "</h3>" +
        //            "<p class='font12'>" + $("#hfToDestination").val() + " </p>";
        //    }
        //        sData +="<p class='tq12'> " + $("#hfToDate").val() + "</p>"+
        //        "</div>";
        //}
        //    sData +="</div>"+
        //"</div></div>";
             }
        catch (err) {
            alert(err);
        }
        return sData;
    }


</script>
<input type="hidden" id="depchk" value="1" />
<input type="hidden" id="depflexi" value="1" />
<input type="hidden" id="depsub" value="1" />

<script>

    function subdata() {
        var str1 = depsub.value;
        if (str1 == "1") {
            document.getElementById("sub").innerHTML = "<i class='fa fa-angle-up' ></i>";
            $("#depsub").val(2);
        }
        if (str1 == "2") {
            document.getElementById("sub").innerHTML = "<i class='fa fa-angle-down' ></i>";
            $("#depsub").val(1);
        }
    }

    function chkflight() {
        var str1 = depchk.value;
        if (str1 == "1") {
            $('#chkIsDirect').attr("checked", true);
            $("#depchk").val(2);
        }
        if (str1 == "2") {
            $('#chkIsDirect').attr("checked", false);
            $("#depchk").val(1);
        }
    }
    function chkflexi() {
        var str1 = depflexi.value;
        if (str1 == "1") {
            $('#chkIsFlexi').attr("checked", true);
            $("#depflexi").val(2);
        }
        if (str1 == "2") {
            $('#chkIsFlexi').attr("checked", false);
            $("#depflexi").val(1);
        }
    }
    function checkdata() {
        var downKeyEvent = $.Event("keydown");
        downKeyEvent.keyCode = $.ui.keyCode.DOWN;  // event for pressing "down" key
        var enterKeyEvent = $.Event("keydown");
        enterKeyEvent.keyCode = $.ui.keyCode.ENTER;  // event for pressing "enter" key
        $("#flying_from").trigger(enterKeyEvent); // Enter key selects highlighted item


    }
    function checkdata1() {
        var downKeyEvent1 = $.Event("keydown");
        downKeyEvent1.keyCode = $.ui.keyCode.DOWN;  // event for pressing "down" key
        var enterKeyEvent1 = $.Event("keydown");
        enterKeyEvent1.keyCode = $.ui.keyCode.ENTER;  // event for pressing "enter" key
        $("#flying_to").trigger(enterKeyEvent1); // Enter key selects highlighted item

    }
    function CheckValidationNewsLetterMails_FS() {
        var btrue = true;
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        var email_address = $("#txtEmailFlightSerch").val();
        var phone = $('#Phone').val();
        intRegex = /[0-9 -()+]+$/;
        if (email_address == '') {
            alert("Please enter email");
        }
        else if (!emailReg.test(email_address)) {
            alert('Please enter valid email');
            $("#EmailId").focus();
            btrue = false;
        }
        else {
            GetSendNewletterMails();
        }
    }

    function datebind() {
        $("#from").focus();
    }
</script>
