@{

    Layout = null;
}

@if (ViewBag.emailid == "" || ViewBag.emailid == null)
{
    <div class="login_top" style="display:none;" id="login_top1">
        <a style="cursor:pointer;">
            <img src="/Content/images/user_login-icon_active.png" alt="" class="user_login-icon_active">
            <img src="/Content/images/user_login-icon.png" alt="" class="user_login-icon">
            <span class="text_sign"> Sign In <i class="fa fa-angle-down" aria-hidden="true"></i> </span>
        </a>
    </div>
}
else
{
    <div id="myaccount" class="login_top" style="display: none;">
        <a style="cursor:pointer;">
            <img src="/Content/images/user_login-icon_active.png" alt="" class="user_login-icon_active">
            <img src="/Content/images/user_login-icon.png" alt="" class="user_login-icon">
            <span class="text_sign"> My Account <i class="fa fa-angle-down" aria-hidden="true"></i> </span>
        </a>
    </div>
}
<div class="login_top_open" id="login_top_open1">

    <div id="signup" class="reg_box_top" style="display:block;">
        <label>Name</label>
        <input type="text" placeholder="Enter Name" id="txtname" />
        <label>Email</label>
        <input type="email" placeholder="Enter Email" id="txtemail" />
        <label>Password</label>
        <input type="password" placeholder="Enter Password" id="txtpassword" />
        <div class="clearfix"></div>
        <input type="checkbox" class="check_box" id="chktc" /> <label class="check_box">I agree T&C</label>
        <div class="clearfix"></div>
        <input type="button" class="btn_yellow" value="Create an Account" onclick="Checkvalidate();" />
        <input type="button" class="btn_gray" style="cursor:pointer;" onclick="showuser('Login')" value="Already Registered? Login" />
        <p>(You will receive an e-mail containing the account verification link.)</p>
        <div class="clearfix"></div>

    </div>

    <!-- Login panel -->
    <div id="login" class="log_box_top" style="display:none;">

        <label>Email</label>
        <input type="email" placeholder="Enter Email" id="txtloginemail" />
        <label>Password</label>
        <input type="password" placeholder="Enter Password" id="txtloginpassword" />
        <div class="clearfix"></div>
        <a class="btm_10" style="cursor:pointer;" onclick="showuser('Forgot')">Forgot Password? </a>
        <div class="clearfix"></div>
        <input type="checkbox" class="check_box" id="chkrember" checked="true" /> <label class="check_box">Remember me</label>
        <div class="clearfix"></div>
        <input type="button" class="btn_yellow" value="Sign In" onclick="CheckLogin()" />
        <a class="new_user" style="cursor:pointer;" onclick="showuser('Signup')">New User? Create an Account</a>
        <div class="clearfix"></div>
        <a class="fb_bg"><i class="fa fa-facebook"></i> &nbsp; Facebook login</a><a class="tw_bg"><i class="fa fa-google-plus"></i> &nbsp; Google plus</a>
        <div class="clearfix"></div>
    </div>


   <div id="forgot" class="log_box_top" style="display:none;">
        <label>Email</label>
        <input type="email" placeholder="Enter Email" id="txtforgotemail" />
        <input type="button" class="btn_yellow" value="Back" onclick="showuser('Login')" style="width:48%" />
        <input type="button" class="btn_yellow pull-right" value="Submit" onclick="CheckForgot()" style="width:48%" />
        <div class="clearfix"></div>
    </div>
</div>
<div class="login_top_open " id="myaccount_open">
    <div id="logindata" class="menu_box_top" style="display:block;">
        <ul class="">
            <li><a href='@Url.Action("DashBoard","Common", new { id=""})'>Dashboard</a></li>
            @*<li><a>My Wallet</a></li>*@
            <li><a onclick="logout()">Sign out</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    function Checkvalidate() {

        var btrue = true;
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        var email_address = $("#txtemail").val();

        intRegex = /[0-9 -()+]+$/;
        var tc = document.getElementById('chktc').checked;

        if ($('#txtname').val() == "") {

            $('#txtname').focus();
            document.getElementById('txtname').style.border = "solid 1px red";
            btrue = false;
        }

        else if (!emailReg.test(email_address) || email_address == '') {
            document.getElementById('txtname').style.border = "solid 1px black";
            document.getElementById('txtemail').style.border = "solid 1px red";
            $("#txtemail").focus();
            btrue = false;
        }
        else if ($('#txtpassword').val() == "") {
            document.getElementById('txtname').style.border = "solid 1px black";
            document.getElementById('txtemail').style.border = "solid 1px black";
            document.getElementById('txtpassword').style.border = "solid 1px red";
            $("#txtpassword").focus();
            btrue = false;
        }
        else if (tc == false) {
            alert("Please Select Terms & Conditions");
            btrue = false;
        }
        if (btrue == true) {
            $('#Waitpopup').show();
            Submit(1);
        }
    }

    function Submit(id) {

        $.ajax({
            url: '@Url.Action("Signup", "Common")',
            type: 'POST',
            data: {
                Name: $('#txtname').val(),
                Email: $('#txtemail').val(),
                Password: $('#txtpassword').val(),


            },
            success: function (msg) {
                //debugger;
                alert(msg);

                $('#txtname').val("");
                $('#txtemail').val("");
                $('#txtpassword').val("");
                $("#login_top").hide();
                var url = '@Url.Action("Index", "Home", new { q = ""})';
                window.location.href = url;
            },
            error: function (msg) {
                $('#msgdiv').show();
                $('#formdiv').hide();
                // alert(msg);
            }
        });

    }


    $('#login_top1').click(function () {

        $('#login_top_open1').slideToggle('slow', function () {
            $('#login_top1').toggleClass('login_top_active', 'fast');

        });

    });

    $('#myaccount ').click(function () {

        $('#myaccount_open').slideToggle('slow', function () {
            $('#myaccount').toggleClass('login_top_active', 'fast');

        });

    });

    function showuser(str) {
        if (str == 'Login') {
            document.getElementById('login').style.display = "block";
            document.getElementById('logindata').style.display = "none";
            document.getElementById('signup').style.display = "none";
            document.getElementById('forgot').style.display = "none";
        }
        if (str == 'Signup') {
            document.getElementById('login').style.display = "none";
            document.getElementById('logindata').style.display = "none";
            document.getElementById('signup').style.display = "block";
            document.getElementById('forgot').style.display = "none";
        }
        if (str == 'Forgot') {
            document.getElementById('login').style.display = "none";
            document.getElementById('logindata').style.display = "none";
            document.getElementById('signup').style.display = "none";
            document.getElementById('forgot').style.display = "block";
        }
    }

    // ]]>
</script>
<script type="text/javascript">
    function CheckLogin() {

        var btrue = true;
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        var email_address = $("#txtloginemail").val();

        intRegex = /[0-9 -()+]+$/;


        if (!emailReg.test(email_address) || email_address == '') {

            document.getElementById('txtloginemail').style.border = "solid 1px red";
            $("#txtloginemail").focus();
            btrue = false;
        }
        else if ($('#txtloginpassword').val() == "") {

            document.getElementById('txtloginemail').style.border = "solid 1px black";
            document.getElementById('txtloginpassword').style.border = "solid 1px red";
            $("#txtloginpassword").focus();
            btrue = false;
        }

        if (btrue == true) {
            $('#Waitpopup').show();
            Submitdata(1);
        }
    }

    function Submitdata(id) {
        var rem = document.getElementById('chkrember').checked;
        $.ajax({
            url: '@Url.Action("Login", "Common")',
            type: 'POST',
            data: {

                Email: $('#txtloginemail').val(),
                Password: $('#txtloginpassword').val(),
                Remember: rem,

            },
            success: function (msg) {
                //debugger;
                if (msg == "1") {
                    var url = '@Url.Action("Index", "Home", new { q = ""})';
                    window.location.href = url;
                }
                else {
                    alert(msg);
                }

            },
            error: function (msg) {
                $('#msgdiv').show();
                $('#formdiv').hide();
                // alert(msg);
            }
        });

    }
    // ]]>
</script>
<script type="text/javascript">
    function CheckForgot() {

        var btrue = true;
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        var email_address = $("#txtforgotemail").val();
        intRegex = /[0-9 -()+]+$/;

        if (!emailReg.test(email_address) || email_address == '') {

            document.getElementById('txtforgotemail').style.border = "solid 1px red";
            $("#txtforgotemail").focus();
            btrue = false;
        }

        if (btrue == true) {
            $('#Waitpopup').show();
            Submitforgot(1);
        }
    }

    function Submitforgot(id) {

        $.ajax({
            url: '@Url.Action("Forgot", "Common")',
            type: 'POST',
            data: {

                Email: $('#txtforgotemail').val(),



            },
            success: function (msg) {
                //debugger;


                $('#txtforgotemail').val("");

                alert(msg);
                var url = '@Url.Action("Index", "Home", new { q = ""})';
                window.location.href = url;


            },
            error: function (msg) {
                $('#msgdiv').show();
                $('#formdiv').hide();
                // alert(msg);
            }
        });

    }
    // ]]>
</script>
<script>
    function logout() {
        $.ajax({
            url: '@Url.Action("LogOut", "Common")',
            type: 'POST',

            success: function (msg) {
                //debugger;

                var url = '@Url.Action("Index", "Home", new { q = ""})';
                window.location.href = url;


            },
            error: function (msg) {
                $('#msgdiv').show();
                $('#formdiv').hide();
                // alert(msg);
            }
        });

    }
</script>
